@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "IBM Plex Mono";
    font-display: block;
    font-style: normal;
    font-weight: 400;
    src: url(../assets/fonts/ibm-plex-mono-regular.ttf) format("truetype");
  }

  html {
    @apply h-full bg-white font-mono text-gray-700 selection:bg-gray-200;
  }

  body {
    @apply min-h-full max-w-[61ch] space-y-2lh px-4 py-8 text-sm md:max-w-[67ch] md:p-10;
  }

  main {
    @apply space-y-lh;
  }

  h1,
  h2,
  h3 {
    @apply uppercase before:block before:content-['––––––'];
  }

  a {
    @apply underline decoration-gray-200 underline-offset-4 hover:no-underline;
  }

  section {
    @apply space-y-lh;
  }

  section ul {
    @apply pe-[1ch];
  }

  section ul a {
    @apply flex items-center;
  }

  section ul a span:first-child {
    @apply flex-1;
  }

  small {
    @apply text-sm;
  }
}
